html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
#banner {
  background: url("../img/banner-bg-dark.png") no-repeat;
  background-size: cover;
  min-height: 500px;
}
.section-padding {
  padding: 40px 0px;
}
.panel-jumbo {
  background-color: transparent;
  padding-top: 90px;
}
#banner a {
  color: white;
  font-size: 1.125rem;
}
#banner a:hover {
  color: #f16e00;
}
.cta-1,
.cta2 {
  background-color: #fff;
  padding: 40px 0px;
}
.cta-1 img {
  max-height: 300px;
}
.thumb {
  border: 7px solid #999;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.thumb:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "\f01d";
  font-family: FontAwesome;
  font-size: 6.25rem;
  color: #fff;
  opacity: 0.3;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.thumb:hover:before {
  opacity: 0.7;
}

.embed-responsive-19by12 {
  padding-bottom: 62.25%;
}
p.cta-sub-title {
  font-size: 1.75rem;
}
.separator {
  width: 100px;
  height: 3px;
  background-color: #f16e00;
}
.service-box {
  margin: 0 0 30px;
  display: flex;
}
.service-box .service-icon {
  min-width: 75px;
  min-height: 75px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #eee;
  line-height: 75px;
  text-align: center;
  color: #f16e00;
  font-size: 2.1875rem;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.service-box .service-text h3 {
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  font-size: 1.125rem;
  line-height: 24px;
  color: #333333;
  font-weight: bold;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.page-title {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

.community-box {
  width: 100%;
  margin: 0 0 30px;
  display: inline-block;
  text-align: center;
}

.community-icon {
  font-size: 5rem;
  height: 100px;
}

.community-box.discord .community-icon {
  height: 88px;
  margin: 6px 0;
}

.community-text {
  padding: 20px 0;
}

.community-text h3 {
  font-weight: bold;
  transition: all 0.5s ease 0s;
}

footer .mention {
  font-weight: normal;
}
footer .mention a {
  color: #fff;
  font-weight: 700;
}
footer .mention a:hover {
  color: #f16e00;
}
